/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
@import 'simplelightbox/dist/simple-lightbox.min.css';

body {
  background-color: #ffffff;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.gallery {
  min-width: 660px;
  max-width: 1128px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /**/
  row-gap: 20px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 0;
}

.gallery-item {
  width: calc((100% - 40px) / 3);
}

.gallery-link {
  background-color: blueviolet;
}

.gallery-image {
  background-color: blueviolet;
}

/*modal window style*/

.sl-wrapper {
  background: rgba(46, 47, 66, 0.8);
}
.sl-wrapper .sl-counter {
  color: #fff;
}

/*section form*/

.feedback-form {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 24px auto;
  width: 408px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
label {
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
input {
  height: 40px;
}
input:hover,
textarea:hover {
  border: 1px solid #000;
}
input,
textarea {
  margin-top: 8px;
  width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
button {
  margin-top: 8px;
  width: 95px;
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #4e75ff;
  border: 1px solid #4e75ff;
  border-radius: 8px;
}

button:hover {
  background-color: #6c8cff;
  border: 1px solid #6c8cff;
}
